/*body{
    overflow-x: hidden;
}*/

#image-banner {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)), url('../img/background.jpeg');
    background-size: cover;
    display: flex;
    width: 100%;
    height: 950px;
    opacity: 0.7;
    position: relative;
    z-index: 0;

}


header {
    width: 100%;
    background: white;
    position: fixed; 
    z-index: 1000; 
}

#title{
    display:flex;
    flex-direction:row;
    gap: 0px;

    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translateX(-50%);

    z-index: 1; 
    text-align: center; 
}

#title2{
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)), url('../img/background.jpeg');
    background-size: cover;
    height: 950px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}

#explain{
    font-family: ;
    display:flex;
    flex-direction:column;
    gap: 0px;
    text-align:left;
    font-family: "Kotta One", serif;
    font-size: 36px;
    padding-right: 45px;
}

#berkeley{
    width: auto;
    height: 35%;
/*    box-shadow: 10px 10px 0px 0px rgba(109, 109, 109, 1);*/
}

/*All*/
#left_box {
    display: flex;
    position: absolute;
    align-items:center;
    flex-direction: column;
    top: -30px;
    left: 0;
}

#left_box2 {
    
}


/*Big blob*/
#left_box img {
    opacity: 70%;
    top:-200px;
    left: -100px;
    position: absolute;
    z-index: 1; 
}

/*Small blob*/
#left_box img:nth-child(2) {
    opacity: 90%;
    top: 200px;
    left: 250px; 
    z-index: 2; 
}

#left_box img:nth-child(3) {
    opacity: 100%;
    top: -120px ;
    left: -40px; 
    z-index: 3; 
}

/*Arrow*/
#left_box img:nth-child(4) {
    opacity: 100%;
    top: 420px ;
    left: 325px; 
    z-index: 3; 
}


@keyframes arrowAnimation {
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-10px); 
  }
  100% {
    transform: translateY(0); 
  }
}

#left_box img[src="assets/img/arrow.png"] {
  animation: arrowAnimation 2s infinite; 
}

#right_box{
    display:flex;
    flex-direction:column;
    gap: 0px;
    text-align:left;
    margin-left: 400px;
}

#name{
font-family: "Kotta One", serif;
font-size: 48px;
}

#role{
font-family: "Kotta One", serif;
font-size: 26px;
margin-top: 10px;

}

#navbar {
    background: #FDF0EC;
    color: black;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    z-index: 999;
    padding-left: 100px;
    padding-right: 100px;
}

.navbar-item {
    padding: 5px 20px;
    cursor: pointer;
    font-family: 'Khula', sans-serif;

    
}

.navbar-item:hover {
    font-weight: bold;
}

#left_nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

#right_nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.content_item{
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 200px;
  margin-left: 200px;
  margin-right: 200px;
  gap:70px;
}

.content{
    display:flex;
    justify-content:space-around;
    align-items:left;
    flex-direction: column;
    padding: 0px;
    gap:30px;
}


.content3{
    display:flex;
    align-items:left;
    flex-direction: column;
    gap:30px;
    width:750px;

}

.rowcontent{
  display: flex;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
  gap:50px
}

.align_row{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction: row;
}

.align_row3{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: row;
    width: 100%;
}

.image {
    width: 550px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out; 
}

.proj_name{
    font-family: "Kotta One", serif;
    font-size: 36px;
}

.desc{
    font-family: "Khula", serif;
    font-size: 24px;
}

.tags{
    font-family: "Khula", serif;
    font-size: 24px;
}

.words{
    font-family: "Khula", serif;
    font-size: 16px;
    flex-wrap: wrap;
}

/*FOOTER*/

.big_footer{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction: column;
}

.footer{
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding: 50px;
}

.left{
  display:flex;
  flex-direction:column;
  gap: 20px;
  text-align:center;
  margin-left: 200px;
}

.middle{
    font-family: 'Iowan Old Style', sans-serif;
    font-size: 30px;
    color: #3B2929;
    display:flex;
    flex-direction:column;
    align-items:center;
    line-height: 1;
}


.right{
  display:flex;
  flex-direction:column;
  gap: 20px;
  text-align:center;
  margin-right: 200px;
}



.copy {
    font-family: "Kotta One", serif;
    text-align:center;
}

.butt{
    margin-bottom: 20px;
}


/*------------------- ABOUT PAGE ---------------------------*/

.images {
    width: 550px;
    border-radius: 0px;
    border: 1px solid; 
    padding: 15px; 
}

#center {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: 'Kotta One', serif;
    font-size: 24px;
    margin-bottom: 20px;
   
}


* {box-sizing:border-box}

.slideshow-container {
    width: auto;
    position: relative;
    margin: auto; 
    height:350px;
    border-radius: 0px;
    border: 1px solid;
    padding: 15px;
}

.mySlides {
  display: none;
  height: 100%;
  width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-right:15px
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
